# List

A list is a data structure in Python that is a mutable, ordered sequence of elements.

Each elements in the list is called an item/element.

List are defined by having values between square brackets [ ].

The types of list elements can be different, that is, there can be more than one data type within a list.

## List Creation

In [93]:
list1 = [1, 2, 3, 4, 5]
list1

[1, 2, 3, 4, 5]

In [94]:
list2 = ["hello", "world", "this", "is", "python"]
list2

['hello', 'world', 'this', 'is', 'python']

In [95]:
list3 = [1, 2.5, False, (5+7j), "text", [6,8,11]]
list3

[1, 2.5, False, (5+7j), 'text', [6, 8, 11]]

Also since list is data structure we can use list() constructor for creating list but list() constructor only gets iterable data types as parameter. So should give **another list, tuple, set, dict keys or string or range** as a parameter

In [96]:
list4 = list() # empty constructor
print(list4)

list5 = list("hey") # with string
print(list5)

list6 = list([1,2,3,4]) # with another list
print(list6)

print( list((2,4,6,8)) ) # with tuple

print( list(range(10,100, 10)) ) # with range function

[]
['h', 'e', 'y']
[1, 2, 3, 4]
[2, 4, 6, 8]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

## List features

In [97]:
my_list = [1, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]
my_list

[1, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]

In [98]:
# list is mutable
# so items and variables can be changeble after declaration

print( my_list )
print( "index-0:", my_list[0] )

my_list[0] = 32

print( "index-0:", my_list[0] )

my_list

[1, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]
index-0: 1
index-0: 32

[32, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]

In [99]:
# list is ordered
# it means list are indexable 
# and keeps the appending order

my_list[0] 
my_list[5]

12

In [100]:
# different types of data types can be stored in the list

list3       # declared above in the list creation section

[1, 2.5, False, (5+7j), 'text', [6, 8, 11]]

In [101]:
print(list3, "\n")

for item in list3:
    print( type(item) )

[1, 2.5, False, (5+7j), 'text', [6, 8, 11]]

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'list'>

In [102]:
type(my_list)

list

## Accessing list items

In [103]:
my_list

[32, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]

### indexing

In [104]:
my_list[0]

32

In [105]:
# list items      ->  1    2   3   4   5
# index           ->  0    1   2   3   4    
# from the end    -> -5   -4  -3  -2  -1

In [106]:
# list index starts with 0
print("Item in the index 0:" , my_list[0])
print("Item in the index 5:" , my_list[5])
print()

# also list items can be indexable from the end with negatif indexing
# this type indexing starts with -1
print("Item in the index -1:" , my_list[-1])
print("Item in the index -5:" , my_list[-5])

Item in the index 0: 32
Item in the index 5: 12

Item in the index -1: 74.5
Item in the index -5: 12

In [107]:
my_list[20]

IndexError: list index out of range

### slicing

In [ ]:
my_list

[32, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]

In [ ]:
# [start_index : end_index : step]
# get items from start_index to end_index with step.
# end_items not included

my_list[::]     # get all

[32, 2, 4, 85, 96, 12, 45, 0, -1, 74.5]

In [ ]:
my_list[0: 8]   # get items starts with index 0, until 8

[32, 2, 4, 85, 96, 12, 45, 0]

In [ ]:
my_list[3: 8: 2]    # Take the elements two by two from the item index 3 until index 8.

[85, 12, 0]

In [ ]:
my_list[0: -3: 3]   # Take the elements three by three from the item index 0 until index -3.

[32, 85, 45]

## List Function

In [108]:
# len() : return list length
len(my_list)

10